  nav.navbar{
	background: transparent;	
	border: transparent;
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
  .carousel-inner img{
  	/*width="460" height="345"*/
  	height: 300px !important;
  }
.inline{
	display: inline;
}
/*
nav.navbar{
	background: transparent;	
	border: transparent;
}*/
.pd-3{
	padding-bottom: 5%;
}
.logo{
	max-width: 20%;
	display:inline;
}
.company{
	max-width: 40%;
}
.ex4 {
	width: 30%;
	height: 30%;
	line-height: 0px;
	color: transparent; 
	font-size: 2em;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	}
.ex4:hover {
	line-height: 90%;
	color: #575858;
	}
.ex4 img{ 
	float: bottom;
	margin: 15% 15%;
}
